@model EntityLayer.Concrete.Movie
@{
    ViewBag.Title = "AddMovie";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni Film Ekleme</h1>
<br />
@using (Html.BeginForm("AddMovie", "Movie", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Film Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.Label("Yönetmen Adı")
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
        <br />
        @Html.Label("İçerik")
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Content)
        <br />
        @Html.Label("İzledim / İzlemedim")
        @Html.CheckBoxFor(x => x.IsRead, new { @class = "form-control" })

        <button class="btn btn-info">Film Ekle</button>
    </div>
}

