@model EntityLayer.Concrete.Book
@{
    ViewBag.Title = "Kitap Düzenle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Kitap Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditBook", "Book", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.WriterID)
    <div class="form-group">
        @Html.Label("Kitap Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
        <br />
        @Html.Label("İçerik")
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Content)
        <br />
        @Html.Label("Okudum/Okumadım")
        @Html.CheckBoxFor(x => x.IsRead, new { @class = "form-control" })

        <button class="btn btn-info">Kaydet</button>
    </div>
}


